@import '../../utils/_variables.scss';

.card {
   background-color: $background-color;
   box-shadow: $box-shadow-teal;
   border-radius: 5px;
   text-align: center;
   padding: 40px 20px;
   max-width: 100%;
   border-radius: 5px;
   text-align: center;
   padding: 0 14px;
   display: grid;
   grid-template-rows: 2fr 1fr;

   .card-body {
      display: grid;
      align-items: center;
   }

   .card-title {
      font-size: 1.4rem;
      margin: unset;
      overflow: hidden;
      text-overflow: ellipsis;
      align-self: end;
   }

   .card-url {
      color: $green-url;
   }

   .card-star--container {
      font-size: 0.8rem;
      .card-stars {
         font-weight: 100;
         align-self: start;
         margin-left: 3px;
      }
   }

   .card-button {
      text-align: center;
      justify-self: center;
      background-color: $darker-green;
      border-radius: 5px;
      margin-bottom: 12px;
      color: white;
      font-size: 18px;
      font-weight: 800;
      text-transform: uppercase;
      width: 65%;
      &:hover {
         background-color: $button-hover;
      }
   }
}
