$main-font: 'Raleway', sans-serif;
$page-heading-font: 'Playfair Display', serif;

$background-color: rgb(253, 246, 242);
$main-teal: rgb(3, 160, 146);
$button-green: rgb(126, 165, 129);
$box-shadow-teal: rgba(27, 162, 57, 0.15) 10px 10px 0px;
$lighter-teal: #00ad9e;
$light-black: #212b36;
$egg: #f9f9f9;

/* breakpoints */
$break-xs: 320px;
$break-mobile: 480px;
$break-tablet: 765px;
$break-desktop: 976px;
$break-desktop-l: 1070px;
$break-1200: 1200px;
$x-large: 1500px;
